
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
