body{
	font-family: 'Fauna One', serif;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 10%;
	max-width: 10   0px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .card-title {
    min-height: 3rem;
  }
  
  .card-text {
    min-height: 5rem;
  }

  .cover {
    height: 400px;
    background-image: url(https://cdn.glitch.global/55e0616e-c996-4508-975f-54f518984711/rsz_conor-samuel-pmsebqxrnxs-unsplash.jpg?v=1665060752044);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  .cover-small {
    height: 200px;
  }